h1 {
  text-align: center;
  color: green;
}
p {
  text-align: center;
  color: blue;
}
body {
  background-color: lightblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}